@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root{
    --primary-color:#333;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #ddd;
    font-size: 12px;

    padding: 0;
    margin: 0;
}
.lines1,.lines2,.lines3{
    width: 25px;
    height: 3px;
    margin: 6px;
}
.crossxs .lines1{
    transform: rotate(-45deg) translate(-6px,6px);
}
.crossxs .lines2{
    opacity: 0;
}
.crossxs .lines3{
    transform: rotate(45deg) translate(-6px,-6px);
}

/* Start Left Sidebar Section*/

/* start left sidebar */
.sidebars{
    min-height: 100vh;
    background-color: var(--primary-color);
}
.sidebarlinks{
    opacity: 0.75;
    transition: all 0.4s;

    position: relative;
}
.sidebarlinks:hover{
    opacity: 1;
    background-color: #555;
}
.currents{
    box-shadow: -2px 0 10px #111;
    opacity: 1;
    transition: transform 0.3s;
}
.currents:hover{
    transform: translateY(-1px);
}
.mores{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
/* end left sidebar */

/* End Left Sidebar Section*/

/* Start Top Sidebar Section */
/* start top side bar */
.topnavbars{
    background-color: var(--primary-color);
}
.iconparents{
    position: relative;
}
.iconbullets i{
    color: #888;
}
.iconbullets::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;

    position: absolute;
    left: 20px;
    top: 5px;
}
.breadcrumb a{
    color: #f4f4f4;
}
/* end top side bar */
/* Start Top Sidebar Section */

/* Start Content Section */
.cardboxs{
    transition: all 0.3s;
}
.cardboxs:hover{
    box-shadow: 1px 3px 3px #bbb;
    transform: translateY(-1px);
}
/* End Content Section */

/* Start Users Permission */
.borderends{
    border-right: 3px solid skyblue;
}
/* start pagination */
.pagination>li>a,.pagination>li>span{
    color: #000;
    border: 1px solid silver;
}
.pagination>li.active>a{
    background-color: grey;
    border: 1px solid grey;
    color: #fff;
}
.pagination>li>a:hover,
.pagination>li>span:hover{
    background-color: #eee;
    color: #000;
    border-color: #ddd;
}

/* end pagination */


/* End Users Permission */

