@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root{
    --primary-color:#333;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #ddd;
    font-size: 12px;

    padding: 0;
    margin: 0;
}
.lines1,.lines2,.lines3{
    width: 25px;
    height: 3px;
    margin: 6px;
}
.crossxs .lines1{
    transform: rotate(-45deg) translate(-6px,6px);
}
.crossxs .lines2{
    opacity: 0;
}
.crossxs .lines3{
    transform: rotate(45deg) translate(-6px,-6px);
}

/* Start Left Sidebar Section*/

/* start left sidebar */
.sidebars{
    min-height: 100vh;
    background-color: var(--primary-color);
}
.sidebarlinks{
    opacity: 0.75;
    transition: all 0.4s;

    position: relative;
}
.sidebarlinks:hover{
    opacity: 1;
    background-color: #555;
}
.currents{
    box-shadow: -2px 0 10px #111;
    opacity: 1;
    transition: transform 0.3s;
}
.currents:hover{
    transform: translateY(-1px);
}
.mores{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
/* end left sidebar */

/* start top side bar */
.topnavbars{
    background-color: var(--primary-color);
}
.iconparents{
    position: relative;
}
.iconbullets::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;

    position: absolute;
    left: 20px;
    top: 5px;
}
/* end top side bar */

/* End Left Sidebar Section*/

